.buttonDelete {
  height: 35px;
  width: 35px;
  background: hwb(1 2% 16% / 0.539);
  border: 1px solid hwb(0 3% 4%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.buttonDelete img {
  width: 19px;
}
